{
    "token" : "token from /profile/personal_access_tokens",
    "credentials": "loginOrEmail:password",
    "scheme": "https",
    "host": "gitlab.some.host",
    "directory": "/var/storage/backup"
}
